:root {
  --bg-color: #f5f7ff;
  --text-color: #222;
  --card-bg: #ffffff;
  --flayout-bg: rgba(246, 224, 137, 0.51);
  --accent: #ffcb05;
  --primary: coral;
  --rainbow: linear-gradient(
          90deg,
          #a855f7,
          #3b82f6,
          #22c55e,
          #eab308,
          #ef4444
  );
}

body[data-theme='dark'] {
  --bg-color: #1f2233;
  --text-color: #f4f4f4;
  --card-bg: #2d3250;
  --flayout-bg: rgba(122, 162, 255, 0.47);
  --accent: #ffcb05;
  --primary: #567edd;
  --rainbow: linear-gradient(
          90deg,
          #a855f7,
          #3b82f6,
          #22c55e,
          #eab308,
          #ef4444
  );
}

body {
  margin: 0;
  background: var(--bg-color);
  color: var(--text-color);
  transition:
    background 0.2s ease,
    color 0.2s ease;
}
