.pagination {
  display: flex;
  gap: 5px;
  margin: 20px;
}

.page {
  text-decoration: none;
  color: black;
}

.activePage {
  text-decoration: none;
  color: orange;
}

.button {
  align-items: center;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

.button:hover {
  cursor: pointer;
}
