.item {
  display: inline-block;
  text-align: center;
  margin: 5px;
  border: cornflowerblue 2px solid;
  padding: 5px;
  border-radius: 5px;
}

.image {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: auto;
.card {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 5px;
  border-radius: 10px;
  border: 1px solid black;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 5px;
  background: transparent;
  border: 1px solid red;
  border-radius: 5px;
  cursor: pointer;
  color: red;
  opacity: 0.6;
  margin-top: 5px;
  margin-right: 15px;
  transition: opacity 0.2s ease;
  font-weight: bold;
  font-size: 24px;
}

.close:hover {
  opacity: 1;
}

.details {
  text-align: left;
}

.details div {
  margin: 10px;
}
