.item {
  display: flex;
  gap: 20px;
  margin: 20px;
}

.button {
  display: inline-flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  background-color: coral;
}

@media (max-width: 320px) {
  .button {
    padding: 10px 10px;
    text-transform: capitalize;
  }
}

.section {
  margin: 20px;
}

.imgContainer {
  display: inline-block;
  text-align: center;
  margin: 0;
}

.pokemonImg {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: auto;
}

.pagination {
  display: flex;
  gap: 5px;
  margin: 20px;
}

.page {
  text-decoration: none;
  color: black;
}

.activePage {
  text-decoration: none;
  color: orange;
}
